.fade-enter {
  -webkit-transition: .5s linear all; /* Chrome */
  -moz-transition: .5s linear all;
  transition: .5s linear all;
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  -webkit-transition: .5s linear all; /* Chrome */
  -moz-transition: .5s linear all;
  transition: .5s linear all;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
}

.btn {
  border-radius: 0;

}