.fade-enter {
  -webkit-transition: .3s linear all; /* Chrome */
  -moz-transition: .3s linear all;
  transition: .3s linear all;
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  -webkit-transition: .3s linear all; /* Chrome */
  -moz-transition: .3s linear all;
  transition: .3s linear all;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
}


/* app specific changes */
td.right {
  text-align: right !important;
}

.details {
  font-size: 80%;
}