<!DOCTYPE html>
<html>
<head>
  <title>Marvel Legendary Game Setup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileImage" content="img/legendary-144-ico.png"/>
  <meta name="msapplication-TileColor" content="#414141"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.css">
  <link rel="stylesheet" href="css/metro-bootstrap.css">
  <link rel="stylesheet" href="css/fade.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <link rel="icon" href="/img/legendary-114-ico.png">
  <link rel="apple-touch-icon" href="/img/legendary-114-ico.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/legendary-144-ico.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/legendary-114-ico.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/legendary-144-ico.png">
</head>
<body ng-app="app" ng-controller="MarvelCtrl">
<h1>Marvel Legendary</h1>
<div class="container-fluid">
<div>
  <h3>Players</h3>
      <span ng-repeat="player in playerCount.options">
        <button type="button" class="btn"
                ng-click="togglePlayerCount(player)"
                ng-class="{'btn' : player != playerCount.selected,
                           'btn btn-inverse' : player == playerCount.selected}">
          <i ng-class="{'icon icon-user' : player != playerCount.selected,
                        'icon-white icon-ok' : player == playerCount.selected}"></i>
          {{player}}
        </button>
      </span>
</div>
<div>
  <h3>Expansions</h3>
    <span ng-repeat="expansion in expansions">
      <button type="button" class="btn" ng-model="expansion.available"
              ng-click="toggleExpansion(expansion)"
              ng-class="{'btn' : expansion.available == false,
                         'btn btn-inverse' : expansion.available == true}">
        <i ng-class="{'icon icon-lock' : expansion.available == false,
                      'icon-white icon-ok' : expansion.available == true}"></i>
        {{expansion.name}}
      </button>
    </span>
</div>
<br/>
<button class="btn btn-block"
        ng-click="isSummaryDisplayed = !isSummaryDisplayed"
        ng-class="{'btn-success' : isSummaryDisplayed == false,
                   'btn-inverse' : isSummaryDisplayed == true}">
  view summary
  <i ng-class="{'icon-white icon-chevron-down' : isSummaryDisplayed == false,
                'icon-white icon-chevron-up' : isSummaryDisplayed == true}"></i>
  </button>
<div class="row-fluid" collapse="!isSummaryDisplayed">
  <h2 class="span12">Summary</h2>
  <div class="span12">
    <table class="table table-condensed table-selected table-striped-selected">
      <tr>
        <th colspan="2">Scheme</th>
      </tr>
      <!--<tr ng-repeat-start="scheme in schemes.selected | orderBy: 'name' | filter:filterExpansions">-->
      <tr ng-repeat="scheme in schemes.selected | orderBy: 'name' | filter:filterExpansions">
        <td>
          {{scheme.name}}<br/>
          <span class="details">
            <strong>Setup: </strong>{{ scheme.setup }}<br/>
            <strong>Special Rules: </strong>{{ scheme.specialRules }}<br/>
            <strong>Twist: </strong>{{ scheme.twist }}<br/>
            <strong>Evil Wins: </strong>{{ scheme.evilWins }}
          </span>
        </td>
        <td class="right">
          <span class="label">{{ scheme.expansion }}</span>
        </td>
      </tr>
      <!--<tr ng-repeat-end>
        <td><strong>Setup: </strong>{{ scheme.setup }}</td>
        <td><strong>Special Rules: </strong>{{ scheme.specialRules }}</td>
        <td><strong>Twist: </strong>{{ scheme.twist }}</td>
        <td><strong>Evil Wins: </strong>{{ scheme.evilWins }}</td>
      </tr>-->
    </table>
  </div>
  <div class="span12">
    <table class="table table-condensed table-selected table-striped-selected">
      <tr>
        <th colspan="2">Mastermind</th>
      </tr>
      <tr ng-repeat="mastermind in masterminds.selected | orderBy: 'name' | filter:filterExpansions"
          ng-animate="'fade'">
        <td>{{mastermind.name}}</td>
        <td class="right">
          <span class="label">{{ mastermind.expansion }}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="span12">
    <table class="table table-condensed table-selected table-striped-selected">
      <tr>
        <th colspan="2">Heroes</th>
      </tr>
      <tr ng-repeat="hero in heroes.selected | orderBy: 'name' | filter:filterExpansions" ng-animate="'fade'">
        <td>{{hero.name}}</td>
        <td class="right">
          <span class="label">{{ hero.expansion }}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="span12">
    <table class="table table-condensed table-selected table-striped-selected">
      <tr>
        <th colspan="2">Villain Groups</th>
      </tr>
      <tr ng-repeat="villain in villains.selected | orderBy: 'name' | filter:filterExpansions" ng-animate="'fade'">
        <td>{{villain.name}}</td>
        <td class="right">
          <span class="label">{{ villain.expansion }}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="span12">
    <table class="table table-condensed table-selected table-striped-selected">
      <tr>
        <th colspan="2">Henchmen Groups</th>
      </tr>
      <tr ng-repeat="henchman in henchmen.selected | orderBy: 'name' | filter:filterExpansions" ng-animate="'fade'">
        <td>{{henchman.name}}</td>
        <td class="right">
          <span class="label">{{ henchman.expansion }}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="span12">
    <table class="table table-condensed table-selected table-striped-selected">
      <tr>
        <th>Bystanders</th>
      </tr>
      <tr>
        <td>{{ bystanders.maxAllowed }}</td>
      </tr>
    </table>
  </div>
</div>
<br/>
<button class="btn btn-inverse btn-block" ng-click="randomizeAll()">
  Choose All
</button>
<br/>
<button class="btn btn-danger btn-block" ng-click="removeAll()">Remove All</button>
<card-selector title="Schemes" list="schemes" filter="filterExpansions"></card-selector>
<card-selector title="Masterminds" list="masterminds" filter="filterExpansions"></card-selector>
<card-selector title="Heroes" list="heroes" filter="filterExpansions"></card-selector>
<card-selector title="Villain Groups" list="villains" filter="filterExpansions"></card-selector>
<card-selector title="Henchmen Groups" list="henchmen" filter="filterExpansions"></card-selector>
<div class="row-fluid">
  <h2 class="span12">Bystanders ({{ bystanders.maxAllowed }})</h2>
</div>
<br/>
<button class="btn btn-large btn-danger btn-block" ng-click="removeAll()">Remove All</button>
<br/>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script type="text/javascript" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/directive.js"></script>
</body>
</html>